{% extends "layout.html.twig" %}

{% block header %}
    {{ include('common/menu.html.twig') }}
{% endblock %}

{% block container %}
	<hr>
    <h1>Usuarios</h1>
	<br><br>

{% endblock %}

{% block footer %}
    footer
{% endblock %}