{% extends "layout.html.twig" %}

{% block header %}
    {{ include('common/menu.html.twig') }}
{% endblock %}

{% block container %}
	<hr>
    <h1>Usuarios</h1>
	<br><br>
	<h3>{{confirm}}</h3>

{% endblock %}