{% extends "base.html.twig" %}

{% block title %}Blog:detail{% endblock %}

{% block body %}
    <a class="btn btn-default" href="/web/blog">Back to list</a>
    <hr>
    <h2 class="page-header">{{ blog.getTitulo() }}</h2>
    
    <ul class="list-group">
        <li class="list-group-item">Due: {{ blog.getDueDate() | date('F j, Y, g:i a') }}</li>
    </ul>
        <p>
            {{ blog.getDescripcion() }}
        </p>
        <p>
            <img src="/web/uploads/{{ blog.getImage() }}">
        </p>
{% endblock %}
