{% extends "BlogBundle::layout.html.twig" %}

{% block content %}
<div class="title">
    <div class="title-container">
        <h1>Acceso denegado</h1>
    </div>
</div>
<div class="listado">
    <div class="listado-container">
        <img src="{{ asset("dist/uploads/acceso-denegado.png")}}">
    </div>
</div>

{% endblock %}


