<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %} Blog con Symfony3 {% endblock %}</title>
        <link href="{{ asset('dist/styles/main.css') }}" rel="stylesheet" />
        <link href="{{ asset('favicon.ico') }}" rel="icon" />
        {% block styles %}  {% endblock %}
    </head>
    <body>

        {% include "BlogBundle:Layout:header.html.twig" %}

        <section class="content">
            <div class="content-container">
                {% block content %} Content default {% endblock %}
            </div>
        </section>

        {% include "BlogBundle:Layout:footer.html.twig" %}
        
        <script type="text/javascript" src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('dist/scripts/main.js') }}"></script>
        
        {% block scripts %}  {% endblock %}
    </body>
</html>
